%h1.thin
  Hey, do you use twitter?  Would you mind trying this out?

%h4.fancy Inspired by
%span
  %a{:href => 'http://apiwiki.twitter.com/Application-Ideas#APP2Makemyfriendstimelineintoawidget'} Suggested by @twitterapi

%h4.fancy
  %a{:href => '/signup'} Get Started Now

