%h2.thin
  Do you use twitter?

%p
  Lifeline uses
  %a{:href => 'http://twitter.com'} twitter's
  %a{:href => 'http://apiwiki.twitter.com/'} oauth api
  to constantly refresh your friend timeline.
%p
  This is an
  %a{:href => 'http://oauth.org'} oauth
  experiment brought to you by 
  %a{:href => 'http://twitter.com/atmos'} @atmos,
  designed by
  %a{:href => 'http://twitter.com/rustin'} @rustin,
  source code available on 
  %a{:href => 'http://github.com/atmos/lifeline'} github,
  hosted on
  %a{:href => 'http://engineyard.com/solo'} EY Solo.
