%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    - if current_user
      %title= "#{current_user.name}'s Lifeline"
    - else
      %title lifeline.atmos.org - Your friends timeline
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js'}
    %script{:type => 'text/javascript', :src => 'http://jquery.offput.ca/js/jquery.timers.js'}
    %script{:type => 'text/javascript', :src => '/application.js'}

    %link{:href => '/css/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection'}

  %body
    #header.selfclear
      %h1 Lifeline
      #bubble
        %p
          - if current_user
            Hi
            = current_user.name
            , Here's what your friends on twitter are saying.
          - else
            Hey there.  Do you know what your friends are up to?

    #content.selfclear
      #left
        = yield
      #right
        .right_notes
          %p
            Lifeline uses
            %a{:href => 'http://twitter.com'} twitter's
            %a{:href => 'http://apiwiki.twitter.com/'} oauth api
            to constantly refresh your friend timeline.
            %a{:href => '/about'} Learn
            more.
          %p
            Another
            %a{:href => 'http://oauth.org'} oauth
            experiment brought to you by 
            %a{:href => 'http://twitter.com/atmos'} @atmos,
            designed by
            %a{:href => 'http://twitter.com/rustin'} @rustin,
            source code available on 
            %a{:href => 'http://github.com/atmos/lifeline'} github,
            hosted on
            %a{:href => 'http://engineyard.com/solo'} EY Solo.
          - if current_user
            %p
              Do me a favor and
              %a{:href => '/peace'} delete these cookies.
